<h1>Cart</h1>
<ul>
    {{#each cart.products}} 
    <li>
        <h2>{{this.product.title}}</h2> 
        <p>{{this.product.description}}</p>
        <p>Price: {{this.product.price}}</p>
        <p>Category: {{this.product.category}}</p>
        <form action="" method="DELETE">
            <button type="submit">Remove from Cart</button>
        </form>
    </li>
    {{/each}}
</ul>
</body>