<div>
    {{#if isLoggedIn}}
        <h2> Welcome, {{user.firstName}} {{user.lastName}}!</h2>
        <a href="/profile">My Profile</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
</div>